/* PC */

* {
    margin: 0px;
    padding: 0px;
    ;
}

@media screen and (min-width:768px) {
    .one {
        display: flex;
        justify-content: space-around;
    }
    .one>a {
        color: white;
    }
    .two {
        display: flex;
        justify-content: center;
        justify-items: center;
        font-size: 14px;
    }
    .three>a>button {
        color: rgb(17, 223, 171) !important;
        font-size: 11px;
    }
    .nav-item>a {
        color: black !important;
        font-weight: 600;
        padding-right: 35px !important;
    }
    a:hover {
        border-radius: 20px;
        background-color: #316DC3;
        color: white !important;
        font-weight: 600;
    }
}


/* Moblie */

@media screen and (max-width:767px) {
    .one {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 20px;
    }
    .one>a {
        color: white;
    }
    .two {
        font-size: 18px;
    }
    .three {
        font-size: 15px;
        text-align: center;
    }
    .three>a>button {
        color: rgb(17, 223, 171) !important;
        margin-right: 5px;
        margin-left: 5px;
    }
    li:hover {
        background-color: #316DC3;
        color: white !important;
        font-weight: 600;
        margin: 0px;
        padding: 5px;
    }
}