/* PC */

* {
    margin: 0px;
    padding: 0px;
    ;
}

@media screen and (min-width:768px) {
    .one {
        display: flex;
        justify-content: space-around;
    }
    .one>a {
        color: white;
    }
    .two {
        display: flex;
        justify-content: center;
        justify-items: center;
        font-size: 14px;
    }
    .three>a>button {
        color: rgb(5, 156, 63) !important;
        font-size: 11px;
        border: 1px solid rgb(5, 156, 63);
    }
    ul>.nav-item>a:hover {
        border-radius: 20px;
        background-color: #316DC3;
        color: white !important;
        font-weight: 600;
    }
    .nav-link {
        color: black !important;
        font-weight: 500;
    }
    .soci>li,
    .fa {
        color: white;
        display: inline-flex;
        margin: 0px 5px;
    }
    .soci {
        margin: 0px;
    }
}


/* Moblie */

@media screen and (max-width:767px) {
    .one {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-size: 20px;
    }
    .one>a {
        color: white;
    }
    .two {
        font-size: 18px;
    }
    .three {
        font-size: 10px;
        text-align: center;
    }
    .three>a>button {
        color: rgb(17, 223, 171) !important;
        margin-right: 5px;
        margin-left: 5px;
    }
    li:hover {
        background-color: #316DC3;
        color: white !important;
        font-weight: 600;
        margin: 0px;
        padding: 5px;
    }
    .soci>li,
    .fa {
        color: white;
        display: inline-flex;
        margin: 0px 5px;
    }
}