
.container{
    width: 65%;
    height: auto;
    background-color: #6f60cb;
    align-items: center;
    padding:20px;
    margin: 0 auto;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

}

.head{
    text-align: center;
    padding-bottom: 15px;
}
.buttons{
    padding: 10px;
    text-align: center;
}
label{

    padding-right: 40px;
    padding-bottom: 15px;
   
    
    display:inline-flex; width: 110px; 
    color: rgb(255, 255, 255);
}
.courses{
    color: rgb(255, 255, 255);
    margin-left: 30px;
}
span{
    color: rgb(255, 255, 255);

}

input+span{
    padding-left: 5px;
}
.tbl{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
}
.tr{
    text-align: center;
}
.top{
    vertical-align: top;
}
h1>a{
    color: #6f60cb;
}

button>a:link{
    font-size: large;
    
    text-decoration: none;
}
button>a{
    background-color: rgb(11, 194, 26);
    padding: 5px;
    color: white;
}